#about {
  width: 70%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 50px auto;
  color: white;
}

.about-text h1 {
  font-size: 60px;
  color: #11A693;
  margin-bottom: 0px;
}

.about-text h2 {
  font-style: italic;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 4px;
}

.about-text p {
  font-size: 20px;
  margin-top: 4px;
  line-height: 1.5rem;
}

.about-text p span {
  color: #11A693;
  font-weight: bolder;
}
