@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-family: Mulish, sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  background-image: url('../images/Diana.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 600px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  letter-spacing: 2px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: teal;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 10px;
}

.navbar .menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

.menu li a {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  margin: 0 10px;
}

.menu li a:hover {
  background-color: white;
  color: teal;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.menu li .active {
  border-bottom: 3px solid white;
  font-weight: bolder;
}

.menu .close {
  display: none;
  text-align: right;
  padding: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.navbar .mobile-menu {
  display: none;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-family: 'Spectral', serif ;
  overflow: hidden;
}

.name {
  margin-top: 100px;
  width: 500px;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-80%, -50%);
}

.name p:nth-child(1),
.name .details {
  font-size: 16px;
}

.name h1 {
  font-weight: bolder;
  font-size: 40px;
  margin: 0;
  letter-spacing: 4px;
}

.cv-btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #D7E9ED;
  border-radius: 5px;
  color: teal;
  font-weight: bolder;
  border: 2px solid teal;
  transition: all ease-in-out 0.3s;
}

.cv-btn:hover {
  background-color: teal;
  color: white;
  transition: all ease-in-out 0.3s;
  font-size: 20px;
}

.socials {
  font-size: 32px;
  display: flex;
  margin-top: 150px;
  
}

.socials a {
  margin-right: 12px;
}

.socials i {
  color: rgba(111, 202, 202, 1);
}

.socials i:hover {
  color: teal;
  transition: all ease 0.3s;
}

#about {
  width: 50%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  color: white;
}

.about-text h1 {
  font-size: 60px;
  color: teal;
  margin-bottom: 10px;
}

.about-text h2 {
  font-style: italic;
  font-size: 32px;
}

.about-text p {
  font-size: 20px;
}

#projects {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.projects-heading h1 {
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 40px;
  color: teal;
}

.projects-heading h2 {
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 0;
}

.projects-heading {
  text-align: center;
  margin: 20px 0px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-box {
  width: 350px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 5px 10px gray;
  position: relative;
}

.project-box-img {
  width: 100%;
  height: 60%;
}

.project-box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-box-text {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-box-text a{
  margin: 0px;
  font-size: 1.1rem;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.project-title a {
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  color: white;
  background-color: teal;
  box-shadow: 2px 2px 10px gray;
  text-decoration: none;
}

.project-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
  z-index: 10;
}

.project-technologies {
  width: 100%;
  height: 10%;
  font-size: 12px;
  overflow-wrap: normal;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

#contact-btn {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-btn h1 {
  font-size: 2rem;
  margin: 20px;
  padding-right: 5px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

#contact-btn a {
  background-color: white;
  width: 180px;
  height: 60px;
  margin: 10px;
  color: teal;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  transition: all ease 0.3s;
}

#contact-btn a:hover {
  font-size: 1.2rem;
  background-color: teal;
  color: white;
  transition: all ease 0.3s;
}

#contact-form {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center ;
  background-color: white;
}

#contact-form form {
  display: flex;
  width: 70%;
  height: 60vh;
  background-color: black;
}

.contact-left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-right {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-left-heading {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: normal;
  color: teal;
}

.form-email, .form-name {
  display: flex;
  flex-direction: column;
}

.form-email label, 
.form-name label {
  font-size: 24px;
  color: white;
}

.form-email input, 
.form-name input {
  font-size: 20px;
  font-family: inherit;
  height: 30px;
  width: 250px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  margin: 10px 0px;
}

.form-email input::placeholder, 
.form-name input::placeholder {
  opacity: 0.8;
  letter-spacing: 1px;
}

.form-email input:focus, 
.form-name input:focus {
  border-bottom: 2px solid teal;
  transition: all ease 0.3s;
}

.message {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.message label {
  font-size: 24px;
  margin-bottom: 4px;
  color: white;
  margin-top: 24px;
}

.contact-right textarea {
  width: 100%;
  height: 300px;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 20px;
  padding: 10px;
  font-family: inherit;
  color: white;
}

.contact-right textarea::placeholder {
  letter-spacing: 1px;
}

.contact-right button {
  width: 100%;
  height: 50px;
  background-color: teal;
  font-weight: bold;
  outline: none;
  border: none;
  margin: 0px;
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
}

@media(max-width: 1270px) {
  #main {
    background-size: 500px 100vh;
    background-position: left center;
  }
  .name {
    left: 85%;
    top: 50%;
  }
  .socials {
    left: 41%;
    bottom: 10%;
  }
  #contact-form form {
    width: 90%;
  }
  #about {
    width: 70%;
  }
}

@media(max-width: 1150px) {
  #main {
    background-size: 500px 100vh;
    background-position: left center;
  }
  .name {
    left: 85%;
    top: 50%;
  }
  #projects {
    height: auto;
  }
  .projects-container {
    flex-wrap: wrap;
  }
  .project-box {
    flex-grow: 1;
  }
  .project-box-text {
    text-align: center;
  }
}

@media(max-width: 1080px) {
  #main {
    background-image: none;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #contact-form form {
    width: 95%;
  }
  #about {
    width: 95%;
  }
  .about-text h1,
  .projects-heading h1 {
    font-size: 44px;
  }
  .about-text h2,
  .projects-heading h2 {
    font-size: 24px;
  }
  .about-text p {
    font-size: 16px;
  }
  .contact-left-heading {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  .form-email label, 
  .form-name label,
  .message label {
    font-size: 20px;
  }
  .form-email input, 
  .form-name input,
  .contact-right textarea {
    font-size: 16px;
  }
}

@media(max-width: 900px) {
  nav {
    justify-content: space-between;
  }
  .logo {
    flex: 1;
  }
  .navbar {
    flex: 0;
  }
  .navbar ul {
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    top: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: left 0.3s;
  }
  .navbar ul li {
    margin-bottom: 32px;
  }
  .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
  }
  .navbar ul .close {
    display: block;
  }
  .navbar .menu-show {
    left: 0;
  }
  .navbar .mobile-menu {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 32px;
    float: right;
  }
}

@media(max-width: 720px) {
  #contact-form {
    height: auto;
    box-sizing: border-box;
  }
  #contact-form form {
    flex-direction: column;
    height: auto;
    width: 95%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
  }
}
